.toppage-wrapper
  .toppage-image
  .toppage-header
    あなたを想う...
  .toppage-contents
    .toppage-title
      %h1
        Chill Log
  %toppage-header
    .header-child
      .header-login
        = link_to 'log in', new_user_session_path
      .header-signup
        = link_to 'sign up', new_user_registration_path
