.mypage-warapper
  .mypage-name
    %h1
      = @child.name + 'ちゃんのママ'
  .mypage-img
    = image_tag @user.image.url, class:'myimg'
  .mypage-logoutbtn
    = link_to 'ログアウト', destroy_user_session_path, method: :delete
  .top-btn
    = link_to 'Top', events_path