.done-wrapper
  .done-inner
    .done-title
      %h1 成長記録投稿完了しました
    .done-img
      = image_tag @event.image.url, class:'myimg'
    .done-comment
      %p まま、いつも、ありがとう。
      = @child.name + "より"
    .top-btn
      = link_to 'Top', events_path