.header-wrapper
  .header-inner
    .header
      = link_to "Chill Log", events_path
    .header-title
      〜ちゃんの成長記録
    .header-contents
      .header-create
        = link_to "/events/new" do
          %i.fas.fa-file-signature
      .header-mypage
        マイページ
#calendar
