.event-wrapper {
  font-family: 'Kosugi Maru', sans-serif;
}
.event-title {
  text-align: center;
}

.form-inner {
  margin: 0 auto;
  width: 90%;
}

textarea {
  resize: none;
}

.top-btn {
  text-align: center;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: gray;
  }
}